<!-- IF ERRORES -->  
  
    <div id="payforlinkerror" class="rules">
        <div class="inner">
            <strong>ERROR: </strong> {T_ERROR}
        </div>
    </div>    
    <fieldset class="submit-buttons">
        <input type="button" value="{L_LINK_ADD_BUTTON}" class="button1" onclick="Reload_Body('{U_MAKE}','payforlinkcontent');">
        <hr class="dashed">
    </fieldset>
    
<!-- ELSE -->

    <div class="inner">

        <p><h3>{L_LINK_ADD_CORRECT}</h3></p>
        
        <fieldset class="fields2">

            <dl>
                <dt><label for="payforlinklink">{L_LINK_ADD_TITLE_BOX3}</label></dt>
                <dd><input type="text" name="payforlinklink" id="payforlinklink" value="{LINK_OK}" class="inputbox" disabled></dd>
            </dl>
            <dl>
                <dt><label for="payforlinkpropietb"></label></dt>
                <dd>
                    <input type="button" value="{L_LINK_ADD_TO_POST}" class="button1" onclick="insert_text(payforlinklink.value, false); return false;">
                </dd>
            </dl>

        </fieldset>
        <p><h3>{L_LINK_ADD_OTHER}</h3></p>
        <fieldset class="submit-buttons">
            <input type="button" value="{L_LINK_ADD_BUTTON}" class="button1" onclick="Reload_Body('{U_MAKE}','payforlinkcontent');">
            <hr class="dashed">
        </fieldset>

        <p>{L_LINK_ADD_EXPLAIN}</p>

    </div>

<!-- ENDIF -->